<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<script type="text/javascript" th:src="@{/static/component/layui/layui.js}"></script>
	<script type="text/javascript" th:src="@{/static/component/pear/pear.js}"></script>
	<script type="text/javascript" th:src="@{/static/plugins/jquery/jquery-3.4.1.min.js}"></script>
	<script type="text/javascript" th:src="@{/static/plugins/vue/vue.min.js}"></script>
	<script type="text/javascript" th:src="@{/static/plugins/element-ui/index.js}"></script>
	<script type="text/javascript" th:src="@{/static/plugins/axios/axios.min.js}"></script>
	<script type="text/javascript" th:src="@{/static/plugins/axios/qs.js}"></script>
	<script type="text/javascript" th:src="@{/static/plugins/echarts/echarts.min.js}"></script>
	<script type="text/javascript" th:src="@{/static/plugins/echarts/line.min.js}"></script>
	<script type="text/javascript" th:src="@{/static/plugins/utils/httpUtils.js}"></script>
</body>
