<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link type="image/x-icon" rel="shortcut icon" th:href="@{/static/favicon.ico}">
	<!-- 引入样式 -->
	<link type="text/css" rel="stylesheet" th:href="@{/static/component/layui/css/layui.css}">
	<link type="text/css" rel="stylesheet" th:href="@{/static/component/pear/css/pear.css}">
	<link type="text/css" rel="stylesheet" th:href="@{/static/plugins/element-ui/index.css}">
	<link type="text/css" rel="stylesheet" th:href="@{/static/css/common.css}">
</head>
