<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:replace="common/main-css"></head>
<head>
    <title>定时任务日志</title>
</head>
<body>
<div id="webApp" class="app-container">
    <template>
        <!-- 查询条件 -->
        <el-form :model="queryParams" ref="queryParams" :inline="true">
            <el-form-item label="搜索内容" prop="information">
                <el-input
                        v-model="queryParams.information"
                        @keyup.enter.native="handleQuery"
                        placeholder="请输入内容"
                        clearable
                />
            </el-form-item>
            <el-form-item label="选择日期">
                <el-date-picker
                        v-model="dateRange"
                        style="width: 220px"
                        type="daterange"
                        value-format="timestamp"
                        align="right"
                        unlink-panels
                        range-separator="至"
                        start-placeholder="开始日期"
                        end-placeholder="结束日期"
                        :picker-options="pickerOptions"
                        @change="handleQuery">
                </el-date-picker>
            </el-form-item>
            <el-form-item label="状态">
                <el-select v-model="queryParams.status" @change="handleQuery" placeholder="请选择状态">
                    <el-option label="全部" value=" "></el-option>
                    <el-option label="成功" value="0"></el-option>
                    <el-option label="失败" value="1"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" icon="el-icon-search" @click="handleQuery">搜索</el-button>
                <el-button icon="el-icon-refresh" @click="resetQuery">重置</el-button>
            </el-form-item>
        </el-form>

        <el-row :gutter="10" class="mb8">
            <el-col :span="1.5">
                <el-button
                        type="danger"
                        plain
                        icon="el-icon-delete"
                        size="mini"
                        :disabled="multiple"
                        shiro:hasPermission="sys:schedule:delete"
                        @click="handleDelete"
                >删除</el-button>
            </el-col>
            <el-col :span="1.5">
                <el-button
                        type="warning"
                        plain
                        icon="el-icon-download"
                        size="mini"
                        shiro:hasPermission="sys:schedule:export"
                        @click="handleExport"
                >导出</el-button>
            </el-col>
            <el-col :span="1.5">
                <el-button
                        type="info"
                        plain
                        icon="el-icon-refresh-left"
                        size="mini"
                        @click="back"
                >返回</el-button>
            </el-col>
        </el-row>

        <div class="margin-top"></div>

        <!-- 表格数据 -->
        <el-table ref="tables"
                  :data="pageList"
                  @selection-change="handleSelectionChange"
                  :default-sort="defaultSort"
                  @sort-change="handleSortChange"
                  v-loading="loading"
                  border
                  style="width: 100%;">
            <el-table-column fixed type="index" align="center" label="序号" width="60"></el-table-column>
            <el-table-column fixed type="selection" align="center" width="55"></el-table-column>
            <el-table-column prop="jobId" align="center" label="任务ID"></el-table-column>
            <el-table-column prop="beanName" align="center" label="任务名称" show-overflow-tooltip></el-table-column>
            <el-table-column prop="params" align="center" label="任务组名"></el-table-column>
            <el-table-column prop="remark" align="center" label="备注" show-overflow-tooltip></el-table-column>
            <el-table-column prop="status" align="center" label="状态">
                <template slot-scope="scope">
                    <el-tag v-if="scope.row.status === 0" size="small" type="success">成功</el-tag>
                    <el-tag v-else size="small" type="danger">失败</el-tag>
                </template>
            </el-table-column>
            <el-table-column prop="createTime" align="center" label="创建时间" width="180"></el-table-column>
        </el-table>

        <!-- 分页插件 -->
        <div class="block" style="margin-top: 15px;" >
            <el-pagination
                    align='right'
                    background
                    @size-change="handleSizeChange"
                    @current-change="handleCurrentChange"
                    :current-page="queryParams.currentPage"
                    :page-size="queryParams.pageSize"
                    :page-sizes="[10, 20, 30, 50]"
                    layout="total, sizes, prev, pager, next, jumper"
                    v-show="queryParams.totalCount>0"
                    :total="queryParams.totalCount">
            </el-pagination>
        </div>
    </template>
</div>

<div th:replace="common/main-js"></div>
<script type="text/javascript" th:src="@{/static/js/modules/quartz/schedule_log.js?v=1.01}"></script>
</body>
</html>