<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:replace="common/main-css"></head>
<head>
	<title>操作日志</title>
</head>
<body>
<div id="webApp" class="app-container">
	<template>
		<!-- 查询条件 -->
		<el-form :model="queryParams" ref="queryParams" :inline="true" shiro:hasPermission="sys:log:list">
			<el-form-item label="搜索内容" prop="information">
				<el-input
						v-model="queryParams.information"
						@keyup.enter.native="handleQuery"
						placeholder="请输入内容"
						clearable
				/>
			</el-form-item>
			<el-form-item label="用户名">
				<el-input
						v-model="queryParams.username"
						@keyup.enter.native="handleQuery"
						placeholder="请输入用户名"
						clearable
				/>
			</el-form-item>
			<el-form-item label="状态">
				<el-select v-model="queryParams.status" @change="handleQuery" placeholder="请选择状态">
					<el-option label="全部" value=" "></el-option>
					<el-option label="成功" value="0"></el-option>
					<el-option label="失败" value="1"></el-option>
				</el-select>
			</el-form-item>
		</el-form>

		<el-form :model="queryParams" ref="queryParams" :inline="true" >
			<el-form-item label="选择日期">
				<el-date-picker
						v-model="dateRange"
						style="width: 220px"
						type="daterange"
						value-format="yyyy-MM-dd"
						align="right"
						unlink-panels
						range-separator="至"
						start-placeholder="开始日期"
						end-placeholder="结束日期"
						:picker-options="pickerOptions"
						@change="handleQuery">
				</el-date-picker>
			</el-form-item>
			<el-form-item>
				<el-button type="primary" icon="el-icon-search" @click="handleQuery">搜索</el-button>
				<el-button icon="el-icon-refresh" @click="resetQuery">重置</el-button>
			</el-form-item>
		</el-form>

		<!--<el-row :gutter="10" class="mb8">
            <el-col :span="1.5">
                <el-button
                        type="danger"
                        plain
                        icon="el-icon-delete"
                        size="mini"
                        :disabled="multiple"
                        shiro:hasPermission="sys:log:delete"
                        @click="handleDelete"
                >删除</el-button>
            </el-col>
            <el-col :span="1.5">
                <el-button
                        type="success"
                        plain
                        icon="el-icon-edit"
                        size="mini"
                        shiro:hasPermission="sys:log:update"
                        @click="handleEdit"
                >修改</el-button>
            </el-col>
            <el-col :span="1.5">
                <el-button
                        type="warning"
                        plain
                        icon="el-icon-download"
                        size="mini"
                        shiro:hasPermission="sys:log:export"
                        @click="handleExport"
                >导出</el-button>
            </el-col>
            <right-toolbar :showSearch.sync="showSearch" @queryTable="getPageList"></right-toolbar>
        </el-row>

        <div class="margin-top"></div>-->

		<!-- 表格数据 -->
		<el-table ref="tables"
				  :data="pageList"
				  @selection-change="handleSelectionChange"
				  :default-sort="defaultSort"
				  @sort-change="handleSortChange"
				  v-loading="loading"
				  border
				  shiro:hasPermission="sys:log:list"
				  style="width: 100%;">
			<el-table-column fixed type="index" align="center" label="序号" width="60"></el-table-column>
			<el-table-column fixed type="selection" align="center" width="55"></el-table-column>
			<el-table-column prop="username" align="center" label="用户名" width="200" :show-overflow-tooltip="true"></el-table-column>
			<el-table-column prop="account" align="center" label="登录账号" width="150" :show-overflow-tooltip="true"></el-table-column>
			<el-table-column prop="operation" align="center" label="用户操作" width="150"></el-table-column>
			<el-table-column prop="time" align="center" label="执行时长（毫秒）" width="140"></el-table-column>
			<el-table-column prop="ipaddr" align="center" label="IP地址"></el-table-column>
			<el-table-column prop="location" align="center" label="操作地点" :show-overflow-tooltip="true" ></el-table-column>
			<el-table-column prop="status" align="center" label="状态" width="100">
				<template slot-scope="scope">
					<el-tag v-if="scope.row.status === 0" size="small" type="success">正常</el-tag>
					<el-tag v-else size="small" type="danger">失败</el-tag>
				</template>
			</el-table-column>
			<el-table-column prop="createTime" align="center" label="创建时间" width="180"></el-table-column>
			<el-table-column label="操作" align="center" width="90">
				<template slot-scope="scope">
					<el-button
							type="text"
							size="small"
							icon="el-icon-view"
							shiro:hasPermission="sys:log:info"
							@click="handleView(scope.row)">查看</el-button>
					<!--<el-button
                            size="mini"
                            @click="handleEdit(scope.$index, scope.row)">编辑</el-button>
                    <el-button
                            size="mini"
                            type="danger"
                            @click="handleDelete(scope.$index, scope.row)">删除</el-button>-->
				</template>
			</el-table-column>
		</el-table>

		<!-- 分页插件 -->
		<div class="block" style="margin-top: 15px;" >
			<el-pagination
					align='right'
					background
					@size-change="handleSizeChange"
					@current-change="handleCurrentChange"
					:current-page="queryParams.currentPage"
					:page-size="queryParams.pageSize"
					:page-sizes="[10, 20, 30, 50]"
					layout="total, sizes, prev, pager, next, jumper"
					v-show="queryParams.totalCount>0"
					:total="queryParams.totalCount">
			</el-pagination>
		</div>

		<!-- 查看详细 -->
		<el-dialog title="操作日志详细" :visible.sync="showList" width="700px" append-to-body>
			<el-form ref="form" :model="form" label-width="100px" size="mini">
				<el-row>
					<el-col :span="12">
						<el-form-item label="操作模块：">{{ form.operation }}</el-form-item>
						<el-form-item label="登录名称："> {{ form.username }}</el-form-item>
					</el-col>
					<el-col :span="12">
						<el-form-item label="请求地址：">{{ form.ipaddr }} / {{ form.location }}</el-form-item>
						<el-form-item label="登录账号：">{{ form.account }}</el-form-item>
					</el-col>
					<el-col :span="12">
						<el-form-item label="操作状态：">
							<div v-if="form.status === 0">正常</div>
							<div v-else-if="form.status === 1">失败</div>
						</el-form-item>
					</el-col>
					<el-col :span="12">
						<el-form-item label="操作时间：">{{ form.createTime }}</el-form-item>
					</el-col>
					<el-col :span="24">
						<el-form-item label="操作方法：">{{ form.method }}</el-form-item>
					</el-col>
					<el-col :span="24">
						<el-form-item label="请求参数：">{{ form.params }}</el-form-item>
					</el-col>
					<el-col :span="24">
						<el-form-item label="异常信息：" v-if="form.status === 1">{{ form.message }}</el-form-item>
					</el-col>
				</el-row>
			</el-form>
			<div slot="footer" class="dialog-footer">
				<el-button @click="showList = false">关 闭</el-button>
			</div>
		</el-dialog>
	</template>
</div>

<div th:replace="common/main-js"></div>
<script type="text/javascript" th:src="@{/static/js/modules/sys/log.js?v=1.01}"></script>
</body>
</html>