<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:replace="common/main-css"></head>
<head>
	<title>在线用户</title>
</head>
<body>
<div id="webApp" class="app-container">
	<template>
		<!-- 查询条件 -->
		<el-form :model="queryParams" ref="queryParams" :inline="true" style="margin-top: 15px;" shiro:hasPermission="sys:online:list">
			<el-form-item label="搜索内容" prop="information">
				<el-input
						v-model="queryParams.information"
						@keyup.enter.native="handleQuery"
						placeholder="请输入内容"
						clearable
				/>
			</el-form-item>
			<el-form-item label="状态">
				<el-select v-model="queryParams.status" placeholder="请选择状态">
					<el-option label="全部" value=" "></el-option>
					<el-option label="成功" value="0"></el-option>
					<el-option label="失败" value="1"></el-option>
				</el-select>
			</el-form-item>
			<el-form-item>
				<el-button type="primary" icon="el-icon-search" @click="handleQuery">搜索</el-button>
				<el-button icon="el-icon-refresh" @click="resetQuery">重置</el-button>
			</el-form-item>
		</el-form>

		<el-row :gutter="10" class="mb8">
			<el-col :span="1.5">
				<el-button
						type="danger"
						plain
						icon="el-icon-delete"
						size="mini"
						:disabled="multiple"
						shiro:hasPermission="sys:online:out"
						@click="batchForceLogout"
				>强退</el-button>
			</el-col>
		</el-row>

		<div class="margin-top"></div>

		<!-- 表格数据 -->
		<el-table ref="tables"
				  :data="pageList"
				  @selection-change="handleSelectionChange"
				  :default-sort="defaultSort"
				  @sort-change="handleSortChange"
				  v-loading="loading"
				  border
				  style="width: 100%;">
			<el-table-column
					fixed
					type="index"
					align="center"
					label="序号"
					width="60">
			</el-table-column>
			<el-table-column type="selection" align="center" width="55"></el-table-column>
			<el-table-column prop="userId" align="center" label="用户ID"></el-table-column>
			<el-table-column prop="username" align="center" label="登录名称"></el-table-column>
			<el-table-column prop="account" align="center" label="登录账号"></el-table-column>
			<el-table-column prop="ip" align="center" label="登录IP"></el-table-column>
			<el-table-column prop="loginLocation" align="center" label="登录地址"></el-table-column>
			<el-table-column prop="loginTime" align="center" label="访问时间" width="170"></el-table-column>
			<el-table-column prop="lastAccessTime" align="center" label="最后访问时间" width="170"></el-table-column>
			<el-table-column prop="loginStatus" align="center" label="状态" width="100">
				<template slot-scope="scope">
					<el-tag v-if="scope.row.status === 0" size="small" type="success">在线</el-tag>
					<el-tag v-else size="small" type="danger">离线</el-tag>
				</template>
			</el-table-column>
			<el-table-column align="center" label="操作">
				<template slot-scope="scope">
					<el-button
							size="mini"
							type="danger"
							shiro:hasPermission="sys:online:out"
							@click="batchForceLogout(scope.row)">强退</el-button>
				</template>
			</el-table-column>
		</el-table>

		<!-- 分页插件 -->
		<div class="block" style="margin-top: 10px;" >
			<el-pagination
					align='right'
					background
					@size-change="handleSizeChange"
					@current-change="handleCurrentChange"
					:current-page="queryParams.currentPage"
					:page-size="queryParams.pageSize"
					:page-sizes="[10, 20, 30, 50]"
					layout="total, sizes, prev, pager, next, jumper"
					v-show="queryParams.totalCount>0"
					:total="queryParams.totalCount">
			</el-pagination>
		</div>

	</template>
</div>

<div th:replace="common/main-js"></div>
<script type="text/javascript" th:src="@{/static/js/modules/monitor/online.js?v=1.01}"></script>
</body>
</html>